<%= form_for @banner, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :utm_campaign, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :utm_campaign, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :utm_source, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :utm_source, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :utm_medium, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :utm_medium, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :utm_content, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :utm_content, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :utm_term, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :utm_term, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :md5, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :md5, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :campaign_tracker, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :campaign_tracker, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :recipients, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :recipients, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :reference, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :reference, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :additional_ids, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :additional_ids, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  banners_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
